/* h1 {
    color: blue;
    background-color: gray;
}
p {
    color: red;
    background-color: cornsilk;
}
button {
    color: gold;
    background-color: black;
} */
h2 {
    color: orange;
}
button {
    background-color: blue;
    color: white;
}
p {
    background-color: black;
    color: white;
} 
p {
    background-color: aqua;
    color: white;
}                         